<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="startpage.css">
    <title>Kinaschack startpage</title>
</head>
<body>
    <div class = 'components'>
        <div class = 'firstRow' >
            <button id = 'btnCreate'>New Game</button> 
        </div>
    </div>
    

    <script >

        //wiring events
    btnCreate.addEventListener("click", e => {
      const payLoad = {
          "method": "create",
          "clientId": clientId
      }
    
      ws.send(JSON.stringify(payLoad));
    })
    
        </script> 
    
    <script type="text/javascript" src="static/client.js"></script> 
    
</body>
</html>